html {
    height: 100%;
}
p {
    margin: 0;
}

header {
    background-color: white;
    padding: 20px;
}
header input {
    margin-left: 50px;
    padding: 6px 0 6px 6px;
    width: 50%;
    max-width: 250px;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url("https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bGlmZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}

.weather-data-wrapper {
    background-color: white;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/*justify-content: center;*/
	align-items: stretch;
	align-content: stretch;
}
.text-for-background {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

#weaherIcon {

}
#temperature {
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}

#footer {
   
    margin: 0;
    text-align: center;

    position:fixed;
    bottom:0;
    height:auto;
    margin-top:40px;
    width:100%;
}
#credits {
    padding-bottom: 30px;
    padding-top: 30px;
}
#credits p {
    padding-bottom: 5px;
}
#credits a, #credits {
    background-color: white;
    color: lightgray;
    font-size: 14px;

}
span {
    font-weight: bold;
}

.round-btn {
    padding: 20px 10px 20px 10px;
    background-color: bisque;
    border-radius: 100px;
}